<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script src="https://kit.fontawesome.com/7b49efd10b.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>

	<div class="container">


		<center><h2 id="visible">LinkedIn URL</h2></center>

		<form id="visible" action="/video" method="post">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="link" name="link">
				<input type="text" class="form-control" placeholder="userid" name="userid">
				<input type="text" class="form-control" placeholder="pass_word" name="pass_word">
				<input type="text" class="form-control" placeholder="total_records_required" name="total_records_required">
			</div>
			<center><button type="submit" onclick="change()" class="btn btn-primary" value="Search">Extract</button></center>
		</form>

		<br>
		<br>
		<br>
		<br>
		<br>
		
	</div>


	
</body>
</html>

